<footer class='page-footer'>
  <div class="container">

    <div class="row">
      <div class="col s12 m6">
        <h5 class="white-text">Quem sou?</h5>
        <p class="grey-text text-lighten-4">
          Desenvolvedor Ruby e Javascript.</br>
          Trabalho há 6 anos com sistemas web.</br>
          Meu maior combustível é a cafeína.
        </p>
      </div>

      <div class="col s12 m6 center-align tecnologies">
        <a href='https://www.ruby-lang.org/en/' target='_blank'>
          <img data-original="{% asset_path ruby.png %}" alt="Ruby" class='lazy' width='50' height='50'/>
        </a>

        <a href="https://nodejs.org/" target='_blank'>
          <img data-original="{% asset_path node.png %}" alt="Node" class='lazy' width='50' height='50'/>
        </a>

        <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTML/HTML5" target='_blank'>
          <img data-original="{% asset_path html5.png %}" alt="HTML5" class='lazy' width='50' height='50'/>
        </a>

        <a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Suporte_ao_ECMAScript_6_na_Mozilla" target='_blank'>
          <img data-original="{% asset_path js.png %}" alt="Javascript" class='lazy' width='50' height='50'/>
        </a>

        <a href="https://developer.mozilla.org/pt-BR/docs/Web/CSS/CSS3" target='_blank'>
          <img data-original="{% asset_path css3.png %}" alt="CSS3" class='lazy' width='50' height='50'/>
        </a>

        <a href="http://backbonejs.org/" target='_blank'>
          <img data-original="{% asset_path backbonejs.png %}" alt="Backbone" class='lazy' width='50' height='50'/>
        </a>

        <a href="http://marionettejs.com/" target='_blank'>
          <img data-original="{% asset_path marionettejs.png %}" alt="Marionette" class='lazy' width='50' height='50'/>
        </a>

        <a href="http://emberjs.com/" target='_blank'>
          <img data-original="{% asset_path emberjs.png %}" alt="Ember" class='lazy' width='50' height='50'/>
        </a>

        <a href="https://angularjs.org/" target='_blank'>
          <img data-original="{% asset_path angular.png %}" alt="Angular" class='lazy' width='50' height='50'/>
        </a>

        <a href="http://nginx.com/" target='_blank'>
          <img data-original="{% asset_path nginx.png %}" alt="Nginx" class='lazy' width='50' height='50'/>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-copyright z-depth-2">
    <div class="container">
      &copy; {{ site.time | date: '%Y' }}. All rights reserved for {{ site.title }}.
    </div>
  </div>
</footer>