<footer class='page-footer'>
  <div class="container">
    <h5 class="white-text">Quem sou?</h5>

    <div class="row">
      <div class="col l2 s12">
        <div class="circle">
          {% image 'logo-bg.png' [resize:100x100] %}
        </div>
      </div>

      <div class="col l4 offset-1 s11">
        <p class="grey-text text-lighten-4">
          Desenvolvedor Ruby/Javascript.</br>
          Trabalho há 6 anos com sistemas web.</br>
          Movido a cafeína e preguiçoso.
        </p>
      </div>

      <div class="col l6 s12 center-align tecnologies">
        <div class='first-column'>
          {% image ruby.png [resize:50x50] %}
          {% image node.png [resize:50x50] %}
          {% image html5.png [resize:50x50] %}
          {% image js.png [resize:50x50] %}
          {% image css3.png [resize:50x50] %}
        </div>

        <div class='second-column'>
          {% image backbonejs.png [resize:50x50] %}
          {% image marionettejs.png [resize:50x50] %}
          {% image emberjs.png [resize:50x50] %}
          {% image angular.png [resize:50x50] %}
          {% image nginx.png [resize:50x50] %}
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      &copy; {{ site.time | date: '%Y' }}. All rights reserved for {{ site.title }}.
    </div>
  </div>
</footer>