<nav>
  <div class="nav-wrapper">
    <a href="/" title="Home" class="brand-logo truncate">
      {% image 'logo-bg.png' class='circle' [resize:50x50] %}
      {{ site.title }}
    </a>

    <a href="#" data-activates="mobile-demo" class="button-collapse">
      <i class="mdi-navigation-menu"></i>
    </a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% for page in site.pages_list %}
        <li>
          <a href="{{ page[1]['url']  }}">
            {{ page[1]['name'] }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <ul class="side-nav" id="mobile-demo">
      {% for page in site.pages_list %}
        <li>
          <a href="{{ page[1]['url'] }}">
            {{ page[1]['name'] }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>