{% if include.column %}
  {% assign column = include.column %}
{% else %}
  {% assign column = 4 %}
{% endif %}

<div class="col s12 m{{ column }}">
  <div class="card medium">
    <div class="card-image waves-effect waves-block waves-light">
      <a href="{{ include.post.url }}">
        {{ include.post.image | image }}
      </a>
    </div>

    <div class="card-content">
      <span class="grey-text activator">
        {{ include.post.date | date_to_string }}
        <i class="mdi-navigation-more-vert right"></i>
      </span>

      <a href="{{ include.post.url }}">
        <h2 class='card-title'>
          {{ include.post.title }}
        </h2>

        <p class='description truncate grey-text'>
          {{ include.post.description }}
        </p>
      </a>
    </div>

    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        <a href="{{ include.post.url }}">

          {{ include.post.title }}
        </a>
        <i class="mdi-navigation-close right"></i>
      </span>

      <a href="{{ include.post.url }}">
        <span class='truncate-clamp-12 grey-text'>
          {{ include.post.long_description }}
        </span>
      </a>
    </div>
  </div>
</div>