.brand-logo
  font-size: 24px !important
  font-weight: 100
  padding-left: 40px !important
  min-width: 255px

  img
    margin: 0 2px 5px 0
    vertical-align: middle
    width: 42px

  h1
    float: left
    font-size: 19px
    margin: 12px 10px
    font-weight: 300

    +respond_to(600px, max-width)
      margin: 5px 8px
