.card
  .activator
    font-weight: 100
    font-size: 12px

  h2
    color: $primary-color !important
    margin: 5px 0 0

  .mdi-navigation-more-vert
    cursor: pointer
    &:before
      font-size: 30px

  .card-reveal
    span.card-title a
      color: $primary-color !important