.card
  margin: 10px auto
  max-width: 500px
  position: relative
  .activator
    font-weight: 100
    font-size: 12px

  .card-image img
    background-color: #005461
    left: 50%
    position: absolute !important
    text-align: center
    top: 50%
    transform: translate(-50%, -50%)
    width: 500px !important

  .card-title h1
    margin: 0 !important

  h2.card-title
    color: $primary-color !important
    font-size: 18px !important
    font-weight: 500
    margin: 5px 0 0

  .card-content p.description
    color: #515151
    font-weight: 300

  .mdi-navigation-more-vert
    cursor: pointer
    &:before
      color: #005461
      font-size: 30px

  .card-reveal
    .truncate-clamp-12
      height: initial

    .mdi-navigation-close
      color: #83A4A9
      position: absolute
      top: 20px
      right: 20px

    span
      font-weight: 500

    span.card-title a
      color: $primary-color !important
      display: block
      font-size: 18px !important
      width: 100%
