i.ico
  background-size: 20px 20px !important
  float: left
  margin-right: 8px
  width: 20px
  &.about-ico
    background: url(asset_path("about.png")) 0 22px no-repeat
  &.ruby-ico
    background: url(asset_path("ruby.png")) 0 22px no-repeat
  &.js-ico
    background: url(asset_path("js.png")) 0 22px no-repeat
  &.feed-ico
    background: url(asset_path("feed.png")) 0 22px no-repeat