i.ico
  background-size: 20px 20px !important
  float: left
  margin: 0 8px
  width: 20px
  &.git-ico
    background: url(asset_path('git.png')) 0 22px no-repeat
  &.js-ico
    background: url(asset_path('js.png')) 0 22px no-repeat
  &.seo-ico
    background: url(asset_path('seo.png')) 0 22px no-repeat
  &.ruby-ico
    background: url(asset_path('ruby.png')) 0 22px no-repeat