nav ul li a
  &:hover
    &.about
      border-bottom: 1px solid #FFFFFF
    &.ruby
      border-bottom: 1px solid #FF0000
    &.js
      border-bottom: 1px solid #FFA500
    &.feed
      border-bottom: 1px solid #B6802B