.page

  h1
    font-size: 30px
    font-weight: 100
    line-height: 74px
    margin: 25px auto 0
    &.ruby
      color: #9B5D5D !important
      width: 128px
    &.js
      color: #9FA81F !important
      width: 196px

    i
      background-size: 32px 32px !important
      height: 72px
      width: 37px