.page

  h1
    font-size: 38px
    font-weight: 100
    margin: 5px 0
    &.ruby
      color: #9B5D5D !important
    &.js
      color: #9FA81F !important

    i
      background-size: 32px 32px !important
      height: 72px
      width: 37px