.share-page
  margin: 20px 0

  .social
    @extend %g-b
    @extend %g-b--sm--1of1
    @extend %g-b--md--1of1
    @extend %g-b--ml--1of1
    @extend %g-b--lg--1of6
    line-height: 36px

    a
      padding: 0px 20px
      width: 118px
      +respond_to($g-lg, max-width)
        margin-top: 10px
        width: 100%

a.button-facebook
  background-color: #2b4170

a.button-facebook:hover
  background-color: #3b5998

a.button-googleplus
  background-color: #c33219

a.button-googleplus:hover
  background-color: #e64522

a.button-linkedin
  background-color: #0073b2

a.button-linkedin:hover
  background-color: #009cda

a.button-twitter
  background-color: #0081ce

a.button-twitter:hover
  background-color: #00aced

a.button-reddit
  background-color: #AD0808

a.button-reddit:hover
  background-color: #AD0808