---
layout: default
---

<div class='post-show z-depth-1' itemscope itemtype="http://schema.org/NewsArticle">
  <article class="markdown-body">
    <a href="{{ page.url }}" class='h1'>
      <h1 itemprop="headline">{{ page.title }}</h1>
    </a>

    <span class='read-time'>
      <i class='mdi-device-access-time'></i>
      Leia em: {{ page.read_time }}
    </span>

    <span class='author-info'>
      <img src="{{ page.author_email | to_gravatar }}" alt="{{ page.author_name }}" width='50' height='50' class='circle responsive-img'/>

      <p>
        Escrito por: <b>{{ page.author_name }}</b>
        </br>
        em: <b itemprop="datePublished">{{ page.date | date_to_string }}</b>.
      </p>
    </span>

    <div class='image-big'>
      <img src="{{ page.image_big | asset_path }}" alt="{{ page.title }}" itemprop="image"/>
    </div>

    <div itemprop="articleBody">
      {{ content }}
    </div>

    {% include rich_snippets/article.html %}

  </article>

  <b>Veja mais posts sobre:</b>
  <a href="{{ site.url }}/{{ page.category }}"
    <h3> {{ page.category }} </h3>
  </a>

  {% include socials.html %}
  {% include comments.html %}
</div>