---
layout: default
---

<div class='post-show z-depth-1'>
  <article class="markdown-body">
    <h1>{{ page.title }}</h1>
    <span class='read-time'>
      <i class='mdi-device-access-time'></i>
      Leia em: {{ page.read_time }}
    </span>

    <span class='author-info'>
      <img src="{{ page.author_email | to_gravatar }}" alt="Foto de {{ page.author_name }}" width='50' height='50' class='circle responsive-img'/>
      Escrito por: <b>{{ page.author_name }}</b>
    </span>

    <div class='image-big'>
      {{ page.image_big | image }}
    </div>

    {{ content }}

    <div itemscope itemtype="http://schema.org/Article" id='rich-snippet-article'>
      <h1>
        <span itemprop="name">{{ page.title }}</span>
      </h1>
      <p itemprop="articleBody">{{ page.description }}</p>

      </hr>

      <p>Posted by:
        <a href="https://plus.google.com/114181995496424305537/posts/p/pub" rel="author">
          <span itemprop="author">{{ page.author_name }}</span> of
            <a href="https://plus.google.com/8877665544332211" rel="publisher">
          <span itemprop="publisher">{{ site.url }}</span>
        </a>
      </p>
    </div>
  </article>

  {% include socials.html %}
  {% include comments.html %}
</div>